install-info:armhf
install-info
readline-common
libpcre2-8-0:armhf
libacl1:armhf
libacl1
libtextwrap1:armhf
libslang2:armhf
libnewt0.52:armhf
libdebian-installer4:armhf
gcc-10-base:armhf
gcc-10-base
libuuid1
libtinfo6
libsqlite3-0
libreadline8
libncursesw6
libmpdec2
libffi7
libdb5.3
libexpat1
libpython3.8-minimal
libuuid1:armhf
libtinfo6:armhf
libsqlite3-0:armhf
libreadline8:armhf
libncursesw6:armhf
libmpdec2:armhf
libffi7:armhf
libdb5.3:armhf
libexpat1:armhf
libpython3.8-minimal:armhf
zlib1g:armhf
libzstd1:armhf
libselinux1:armhf
liblzma5:armhf
libbz2-1.0:armhf
tar:armhf
tar
zlib1g
libzstd1
liblzma5
libbz2-1.0
libpcre2-8-0
cdebconf:armhf
libcrypt1:armhf
libgcc-s1:armhf
libcrypt1
libgcc-s1
libpython3.8-stdlib
python3.8-minimal
mime-support
libpython3.8-stdlib:armhf
python3.8-minimal:armhf
dpkg:armhf
dpkg
libtextwrap1
libslang2
libselinux1
libnewt0.52
libdebian-installer4
perl-base
libssl1.1:armhf
libc6:armhf
libssl1.1
libc6
libpython3-stdlib
python3.8
python3-minimal
libpython3-stdlib:armhf
python3.8:armhf
python3-minimal:armhf
python3-pkg-resources
python3-lib2to3
cdebconf
debconf
openssl:armhf
openssl
python3
python3:armhf
python-pip-whl
python3-wheel
python3-setuptools
python3-distutils
ca-certificates
python3-pip
